<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `<link rel="icon" href="%s" sizes="any">` ("favicon.ico" | absURL) | safeHTML }}
    <link rel="icon" href="/livewire-logo.svg?v1" type="image/svg+xml">
    <link rel="mask-icon" href="/livewire-logo.svg?v1" color="#0088FF">
    <link rel="apple-touch-icon" type="image/png" href="/livewire-180.png?v1">
    <link rel="manifest" href="/manifest.json?v1">
    <link rel="canonical" href="{{.Permalink}}">
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
        {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ range .Site.Params.custom_css -}}
        <link rel="stylesheet" href="{{ . | absURL }}?v2">
    {{- end }}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    {{ template "_internal/opengraph.html" . }}
    {{ if .HasShortcode "graph" }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ end }}
    <title>{{ .Title }}</title>
</head>
