header#banner h2 {
  font-weight: normal;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
}

code {
  font-size: 80% !important;
}

header time {
  line-height: 2.5;
}

.index-subhead {
  letter-spacing: 0.50rem;
  text-transform: uppercase;
  margin-top: -2rem !important;
  margin-block-start: 0;
}

button {
  padding: 0.75rem 2rem;
}
